{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : Panneau latéral d'antécédents du dossier patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% import "macroForm.html.twig" as f %}

<div class="nav nav-tabs nav-justified" role="tablist">
  <a id="navAtcd" class="nav-item nav-link active" title="Antécédents" href="#tabAtcd" aria-controls="tabAtcd" aria-selected="false" data-toggle="tab"><span class="fa fa-list"></a>
  <a class="nav-item nav-link" href="#tabLiens" title="Liens familiaux" aria-controls="tabLiens" aria-selected="true" data-toggle="tab"><span class="fa fa-link"></span></a>
</div>

<div class="tab-content pt-3">
  {# Formulaire latéral des ATCD #}
  <div id="tabAtcd" class="tab-pane active changeObserv" role="tabpanel">
      {{ f.formbuilder(page.formData_chiroATCD , page.formName_chiroATCD , valFormLat ) }}
  </div>

  {# Liens familiaux #}
  <div id="tabLiens" class="tab-pane col-md-12 p-0" role="tabpanel">
    <div class="card mb-3">
      <div class="card-header py-0 gras">
        Liens familiaux
        <a class="btn btn-default btn-sm float-right m-1" role="button" title="Édition des relations"
          href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/relations/{{ page.patient.id }}/">
          <span class="fa fa-link" aria-hidden="true"></span>
        </a>
      </div>

      <table class="table table-sm mb-0 table-striped table-condensed table-hover small mb-0">
        <thead>
          <tr>
            <th></th>
            <th>patient</th>
            <th>ddn</th>
            <th>lien</th>
          </tr>
        </thead>
        <tbody>
          {% for v in page.liensFamiliaux %}
            <tr>
              <td>
                <a class="btn btn-default btn-sm" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ v.patientID }}/"  target="_blank">
                  <span class="fa fa-folder-open" aria-hidden="true"></span>
                </a>
              </td>
              <td class="gras">{{ v.nom }} {{v.prenom }}</td>
              <td>{{ v.ddn }}</td>
              <td>{{ v.typeRelation }}</td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
  </div>
</div>
