{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # fr33z00 <https://github.com/fr33z00>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : compte-rendu de consultation 
 #
 # @author fr33z00 <https://github.com/fr33z00>
 #}

{% set tag = page.courrier %}

<p style="text-align : right;">Paris, le {{ tag.date|date("d/m/Y") }}</p>

<h2 style="text-align : center">{% if tag.14=='Homme' %}M.{% elseif tag.14=='Femme' %}Mme{% endif %} {{ tag.3 }}  {{ tag.2|default(tag.1) }} ({{ tag.8 }})</h2>
<h2>Consultation du jour</h2>
{% if tag.examenDuJour != '' %}
  <h3>Diagnostic et traitement</h3>
  <p>{{ tag.examenDuJour }}</p>
{% endif %}

{% if tag.chiroDiagnostic != '' %}
  <h3>Diagnostic</h3>
  <p>{{ tag.chiroDiagnostic }}</p>
{% endif %}

{% if tag.chiroEvolSym != '' %}
  <h3>Evolution et symptômes</h3>
  <p>{{ tag.chiroEvolSym }}</p>
{% endif %}

{% set ajustements_v1={'chiroC0L': 'C0 Lt', 'chiroC0R': 'C0 Rt', 'chiroC1L': 'C1 Lt', 'chiroC1R': 'C1 Rt', 'chiroC2L': 'C2 Lt', 'chiroC2R': 'C2 Rt', 'chiroC3L': 'C3 Lt', 'chiroC3R': 'C3 Rt', 'chiroC4L': 'C4 Lt', 'chiroC4R': 'C4 Rt', 'chiroC5L': 'C5 Lt', 'chiroC5R': 'C5 Rt', 'chiroC6L': 'C6 Lt', 'chiroC6R': 'C6 Rt', 'chiroC7L': 'C7 Lt', 'chiroC7R': 'C7 Rt', 'chiroT1L': 'T1 Lt', 'chiroT1R': 'T1 Rt', 'chiroT2L': 'T2 Lt', 'chiroT2R': 'T2 Rt', 'chiroT3L': 'T3 Lt', 'chiroT3R': 'T3 Rt', 'chiroT4L': 'T4 Lt', 'chiroT4R': 'T4 Rt', 'chiroT5L': 'T5 Lt', 'chiroT5R': 'T5 Rt', 'chiroT6L': 'T6 Lt', 'chiroT6R': 'T6 Rt', 'chiroT7L': 'T7 Lt', 'chiroT7R': 'T7 Rt', 'chiroT8L': 'T8 Lt', 'chiroT8R': 'T8 Rt', 'chiroT9L': 'T9 Lt', 'chiroT9R': 'T9 Rt', 'chiroT10L': 'T10 Lt', 'chiroT10R': 'T10 Rt', 'chiroT11L': 'T11 Lt', 'chiroT11R': 'T11 Rt', 'chiroT12L': 'T12 Lt', 'chiroT12R': 'T12 Rt', 'chiroL1L': 'L1 Lt', 'chiroL1R': 'L1 Rt', 'chiroL2L': 'L2 Lt', 'chiroL2R': 'L2 Rt', 'chiroL3L': 'L3 Lt', 'chiroL3R': 'L3 Rt', 'chiroL4L': 'L4 Lt', 'chiroL4R': 'L4 Rt', 'chiroL5L': 'L5 Lt', 'chiroL5R': 'L5 Rt', 'chiroPIL': 'PI Lt', 'chiroPIR': 'PI Rt', 'chiroPI_L': 'PI/ Lt', 'chiroPI_R': 'PI/ Rt', 'chiroASL': 'AS Lt', 'chiroASR': 'AS Rt', 'chiroAS_L': 'AS/ Lt', 'chiroAS_R': 'AS/ Rt', 'chiroSacralAnt': 'Sacral Ant', 'chiroSacralPost': 'Sacral Post', 'chiroCoccyxAnt': 'Coccyx Ant', 'chiroCoccyxPost': 'Coccyx Post'} %}

{% set ajustements_v2={'chiroC0': 'C0', 'chiroC1': 'C1', 'chiroC2': 'C2', 'chiroC3': 'C3', 'chiroC4': 'C4', 'chiroC5': 'C5', 'chiroC6': 'C6', 'chiroC7': 'C7', 'chiroCoccyx': 'Coccyx', 'chiroK1_Lt': 'K1 Lt', 'chiroK1_Rt': 'K1 Rt', 'chiroK10_Lt': 'K10 Lt', 'chiroK10_Rt': 'K10 Rt', 'chiroK11_Lt': 'K11 Lt', 'chiroK11_Rt': 'K11 Rt', 'chiroK12_Lt': 'K12 Lt', 'chiroK12_Rt': 'K12 Rt', 'chiroK2_Lt': 'K2 Lt', 'chiroK2_Rt': 'K2 Rt', 'chiroK3_Lt': 'K3 Lt', 'chiroK3_Rt': 'K3 Rt', 'chiroK4_Lt': 'K4 Lt', 'chiroK4_Rt': 'K4 Rt', 'chiroK5_Lt': 'K5 Lt', 'chiroK5_Rt': 'K5 Rt', 'chiroK6_Lt': 'K6 Lt', 'chiroK6_Rt': 'K6 Rt', 'chiroK7_Lt': 'K7 Lt', 'chiroK7_Rt': 'K7 Rt', 'chiroK8_Lt': 'K8 Lt', 'chiroK8_Rt': 'K8 Rt', 'chiroK9_Lt': 'K9 Lt', 'chiroK9_Rt': 'K9 Rt', 'chiroL1': 'L1', 'chiroL2': 'L2', 'chiroL3': 'L3', 'chiroL4': 'L4', 'chiroL5': 'L5', 'chiroIlium_Lt': 'Ilium Lt', 'chiroIlium_Rt': 'Ilium Rt', 'chiroIlium_Lt': 'Ilium Lt', 'chiroIlium_Rt': 'Ilium Rt', 'chiroPatella_Lt': 'Patella Lt', 'chiroPatella_Rt': 'Patella Rt', 'chiroSacrum': 'Sacrum', 'chiroScapula_Lt': 'Scapula Lt', 'chiroScapula_Rt': 'Scapula Rt', 'chiroT1': 'T1', 'chiroT10': 'T10', 'chiroT11': 'T11', 'chiroT12': 'T12', 'chiroT2': 'T2', 'chiroT3': 'T3', 'chiroT4': 'T4', 'chiroT5': 'T5', 'chiroT6': 'T6', 'chiroT7': 'T7', 'chiroT8': 'T8', 'chiroT9': 'T9', 'chiroTalus_Lt': 'Talus Lt', 'chiroTalus_Rt': 'Talus Rt', 'chiroTibia_Lt': 'Tibia Lt', 'chiroTibia_Rt': 'Tibia Rt'} %}

{% set mains={'chiroCapitatum_Lt': 'Capitatum Lt', 'chiroCapitatum_Rt': 'Capitatum Rt', 'chiroHamatum_Lt': 'Hamatum Lt', 'chiroHamatum_Rt': 'Hamatum Rt', 'chiroLunatum_Lt': 'Lunatum Lt', 'chiroLunatum_Rt': 'Lunatum Rt', 'chiroMetacarpe_I_Lt': 'Métacarpe I Lt', 'chiroMetacarpe_I_Rt': 'Métacarpe I Rt', 'chiroMetacarpe_II_Lt': 'Métacarpe II Lt', 'chiroMetacarpe_II_Rt': 'Métacarpe II Rt', 'chiroMetacarpe_III_Lt': 'Métacarpe III Lt', 'chiroMetacarpe_III_Rt': 'Métacarpe III Rt', 'chiroMetacarpe_IV_Lt': 'Métacarpe IV Lt', 'chiroMetacarpe_IV_Rt': 'Métacarpe IV Rt', 'chiroMetacarpe_V_Lt': 'Métacarpe V Lt', 'chiroMetacarpe_V_Rt': 'Métacarpe V Rt', 'chiroP1_I_Lt': 'P1 I Lt', 'chiroP1_I_Rt': 'P1 I Rt', 'chiroP1_II_Lt': 'P1 II Lt', 'chiroP1_II_Rt': 'P1 II Rt', 'chiroP1_III_Lt': 'P1 III Lt', 'chiroP1_III_Rt': 'P1 III Rt',  'chiroCapitatum_Lt': 'Capitatum Lt', 'chiroCapitatum_Rt': 'Capitatum Rt', 'chiroHamatum_Lt': 'Hamatum Lt', 'chiroHamatum_Rt': 'Hamatum Rt', 'chiroLunatum_Lt': 'Lunatum Lt', 'chiroLunatum_Rt': 'Lunatum Rt', 'chiroMetacarpe_I_Lt': 'Métacarpe I Lt', 'chiroMetacarpe_I_Rt': 'Métacarpe I Rt', 'chiroMetacarpe_II_Lt': 'Métacarpe II Lt', 'chiroMetacarpe_II_Rt': 'Métacarpe II Rt', 'chiroMetacarpe_III_Lt': 'Métacarpe III Lt', 'chiroMetacarpe_III_Rt': 'Métacarpe III Rt', 'chiroMetacarpe_IV_Lt': 'Métacarpe IV Lt', 'chiroMetacarpe_IV_Rt': 'Métacarpe IV Rt', 'chiroMetacarpe_V_Lt': 'Métacarpe V Lt', 'chiroMetacarpe_V_Rt': 'Métacarpe V Rt', 'chiroP1_I_Lt': 'P1 I Lt', 'chiroP1_I_Rt': 'P1 I Rt', 'chiroP1_II_Lt': 'P1 II Lt', 'chiroP1_II_Rt': 'P1 II Rt', 'chiroP1_III_Lt': 'P1 III Lt', 'chiroP1_III_Rt': 'P1 III Rt', 'chiroP1_IV_Lt': 'P1 IV Lt', 'chiroP1_IV_Rt': 'P1 IV Rt', 'chiroP1_V_Lt': 'P1 V Lt', 'chiroP1_V_Rt': 'P1 V Rt', 'chiroP2_I_Lt': 'P2 I Lt', 'chiroP2_I_Rt': 'P2 I Rt', 'chiroP2_II_Lt': 'P2 II Lt', 'chiroP2_II_Rt': 'P2 II Rt', 'chiroP2_III_Lt': 'P2 III Lt', 'chiroP2_III_Rt': 'P2 III Rt', 'chiroP2_IV_Lt': 'P2 IV Lt', 'chiroP2_IV_Rt': 'P2 IV Rt', 'chiroP2_V_Lt': 'P2 V Lt', 'chiroP2_V_Rt': 'P2 V Rt', 'chiroP3_I_Lt': 'P3 I Lt', 'chiroP3_I_Rt': 'P3 I Rt', 'chiroP3_II_Lt': 'P3 II Lt', 'chiroP3_II_Rt': 'P3 II Rt', 'chiroP3_III_Lt': 'P3 III Lt', 'chiroP3_III_Rt': 'P3 III Rt', 'chiroP3_IV_Lt': 'P3 IV Lt', 'chiroP3_IV_Rt': 'P3 IV Rt', 'chiroP3_V_Lt': 'P3 V Lt', 'chiroP3_V_Rt': 'P3 V Rt', 'chiroPisiforme_Lt': 'Pisiforme Lt', 'chiroPisiforme_Rt': 'Pisiforme Rt', 'chiroScaphoide_Lt': 'Scaphoïde Lt', 'chiroScaphoide_Rt': 'Scaphoïde Rt', 'chiroTrapezium_Lt': 'Trapezium Lt', 'chiroTrapezium_Rt': 'Trapezium Rt', 'chiroTrapezoide_Lt': 'Trapézoïde Lt', 'chiroTrapezoide_Rt': 'Trapézoïde Rt', 'chiroTriquetrum_Lt': 'Triquetrum Lt', 'chiroTriquetrum_Rt': 'Triquetrum Rt', 'chiroP1_IV_Lt': 'P1 IV Lt', 'chiroP1_IV_Rt': 'P1 IV Rt', 'chiroP1_V_Lt': 'P1 V Lt', 'chiroP1_V_Rt': 'P1 V Rt', 'chiroP2_I_Lt': 'P2 I Lt', 'chiroP2_I_Rt': 'P2 I Rt', 'chiroP2_II_Lt': 'P2 II Lt', 'chiroP2_II_Rt': 'P2 II Rt', 'chiroP2_III_Lt': 'P2 III Lt', 'chiroP2_III_Rt': 'P2 III Rt', 'chiroP2_IV_Lt': 'P2 IV Lt', 'chiroP2_IV_Rt': 'P2 IV Rt', 'chiroP2_V_Lt': 'P2 V Lt', 'chiroP2_V_Rt': 'P2 V Rt', 'chiroP3_II_Lt': 'P3 II Lt', 'chiroP3_II_Rt': 'P3 II Rt', 'chiroP3_III_Lt': 'P3 III Lt', 'chiroP3_III_Rt': 'P3 III Rt', 'chiroP3_IV_Lt': 'P3 IV Lt', 'chiroP3_IV_Rt': 'P3 IV Rt', 'chiroP3_V_Lt': 'P3 V Lt', 'chiroP3_V_Rt': 'P3 V Rt', 'chiroPisiforme_Lt': 'Pisiforme Lt', 'chiroPisiforme_Rt': 'Pisiforme Rt', 'chiroScaphoide_Lt': 'Scaphoïde Lt', 'chiroScaphoide_Rt': 'Scaphoïde Rt', 'chiroTrapezium_Lt': 'Trapezium Lt', 'chiroTrapezium_Rt': 'Trapezium Rt', 'chiroTrapezoide_Lt': 'Trapézoïde Lt', 'chiroTrapezoide_Rt': 'Trapézoïde Rt', 'chiroTriquetrum_Lt': 'Triquetrum Lt', 'chiroTriquetrum_Rt': 'Triquetrum Rt'} %}

{% set pieds={'chiro_p1_I_Lt': 'p1 I Lt', 'chiro_p1_I_Rt': 'p1 I Rt', 'chiro_p1_II_Lt': 'p1 II Lt', 'chiro_p1_II_Rt': 'p1 II Rt', 'chiro_p1_III_Lt': 'p1 III Lt', 'chiro_p1_III_Rt': 'p1 III Rt', 'chiro_p1_IV_Lt': 'p1 IV Lt', 'chiro_p1_IV_Rt': 'p1 IV Rt', 'chiro_p1_V_Lt': 'p1 V Lt', 'chiro_p1_V_Rt': 'p1 V Rt', 'chiro_p2_I_Lt': 'p2 I Lt', 'chiro_p2_I_Rt': 'p2 I Rt', 'chiro_p2_II_Lt': 'p2 II Lt', 'chiro_p2_II_Rt': 'p2 II Rt', 'chiro_p2_III_Lt': 'p2 III Lt', 'chiro_p2_III_Rt': 'p2 III Rt', 'chiro_p2_IV_Lt': 'p2 IV Lt', 'chiro_p2_IV_Rt': 'p2 IV Rt', 'chiro_p2_V_Lt': 'p2 V Lt', 'chiro_p2_V_Rt': 'p2 V Rt', 'chiroCalcaneum_Lt': 'Calcanéum Lt', 'chiroCalcaneum_Rt': 'Calcanéum Rt', 'chiroCuboide_Lt': 'Cuboïde Lt', 'chiroCuboide_Rt': 'Cuboïde Rt', 'chiroCuneiforme_I_Lt': 'Cunéïforme I Lt', 'chiroCuneiforme_I_Rt': 'Cunéïforme I Rt', 'chiroCuneiforme_II_Lt': 'Cunéïforme II Lt', 'chiroCuneiforme_II_Rt': 'Cunéïforme II Rt', 'chiroCuneiforme_III_Lt': 'Cunéïforme III Lt', 'chiroCuneiforme_III_Rt': 'Cunéïforme III Rt', 'chiroMetatarse_I_Lt': 'Métatarse I Lt', 'chiroMetatarse_I_Rt': 'Métatarse I Rt', 'chiroMetatarse_II_Lt': 'Métatarse II Lt', 'chiroMetatarse_II_Rt': 'Métatarse II Rt', 'chiroMetatarse_III_Lt': 'Métatarse III Lt', 'chiroMetatarse_III_Rt': 'Métatarse III Rt', 'chiroMetatarse_IV_Lt': 'Métatarse IV Lt', 'chiroMetatarse_IV_Rt': 'Métatarse IV Rt', 'chiroMetatarse_V_Lt': 'Métatarse V Lt', 'chiroMetatarse_V_Rt': 'Métatarse V Rt', 'chiroNaviculaire_Lt': 'Naviculaire Lt', 'chiroNaviculaire_Rt': 'Naviculaire Rt'} %}

{% set articulations={'chiroAcromio_claviculaire_Lt': 'Acromio-claviculaire Lt', 'chiroAcromio_claviculaire_Rt': 'Acromio-claviculaire Rt', 'chiroATM_Lt': 'ATM Lt', 'chiroATM_Rt': 'ATM Rt', 'chiroFemoro_acetabulaire_Lt': 'Fémoro-acétabulaire Lt', 'chiroFemoro_acetabulaire_Rt': 'Fémoro-acétabulaire Rt', 'chiroGleno_humerale_Lt': 'Gléno-humérale Lt', 'chiroGleno_humerale_Rt': 'Gléno-humérale Rt', 'chiroMetatarso_phalangienne_Lt': 'Métatarso-phalangienne Lt', 'chiroMetatarso_phalangienne_Rt': 'Métatarso-phalangienne Rt', 'chiroSterno_claviculaire_Lt': 'Sterno-claviculaire Lt', 'chiroSterno_claviculaire_Rt': 'Sterno-claviculaire Rt', 'chiroStyloide_radiale_Lt': 'Styloïde radiale Lt', 'chiroStyloide_radiale_Rt': 'Styloïde radiale Rt', 'chiroSymphyse': 'Symphyse', 'chiroTete_radiale_Lt': 'Tête radiale Lt', 'chiroTete_radiale_Rt': 'Tête radiale Rt', 'chiroTibio_fibulaire_distale_Lt': 'Tibio-fibulaire distale Lt', 'chiroTibio_fibulaire_distale_Rt': 'Tibio-fibulaire distale Rt', 'chiroTibio_fibulaire_prox_Lt': 'Tibio-fibulaire prox Lt', 'chiroTibio_fibulaire_prox_Rt': 'Tibio-fibulaire prox Rt', 'chiroUlna_distal_Lt': 'Ulna distal Lt', 'chiroUlna_distal_Rt': 'Ulna distal Rt', 'chiroUlna_proximal_Lt': 'Ulna proximal Lt', 'chiroUlna_proximal_Rt': 'Ulna proximal Rt'} %}

{% set techniques={'chiroMusculaire': 'Musculaire', 'chiroCranien': 'Cranien', 'chiroAK': 'AK', 'chiroTBM': 'TBM', 'chiroNET': 'NET', 'chiroWhitesonNot': 'Whiteson / NOT', 'chiroThompson': 'Thompson', 'chiroActivator': 'Activator', 'chiroTapeStrap': 'Tape / Strap', 'chiroHIO': 'HIO', 'chiroExtrem': 'Extrémités', 'chiroAutres': 'Autres'} %}

{% set SOT={'chiroSOTCat1': 'Cat-I', 'chiroSOTCat2': 'Cat-II', 'chiroSOTCat3': 'Cat-III'} %}


{% set sAjustements = [] %}
{% set sMains = [] %}
{% set sPieds = [] %}
{% set sArticulations = [] %}
{% set sTraitements = [] %}
{% for k,v in tag %}
  {% if k in ajustements_v1|keys and v == 'true' %}
    {% set sAjustements = sAjustements|merge(["#{ajustements_v1[k]}"]) %}
  {% elseif k in ajustements_v2|keys and v == 'true' %}
    {% set sAjustements = sAjustements|merge(["#{ajustements_v2[k]}"]) %}
  {% elseif k in ajustements_v2|keys and v != '' %}
    {% set sAjustements = sAjustements|merge(["#{ajustements_v2[k]} : #{v}"]) %}
  {% elseif k in mains|keys and v == 'true' %}
    {% set sMains = sMains|merge(["#{mains[k]}"]) %}
  {% elseif k in pieds|keys and v == 'true' %}
    {% set sPieds = sPieds|merge(["#{pieds[k]}"]) %}
  {% elseif k in articulations|keys and v == 'true' %}
    {% set sArticulations = sArticulations|merge(["#{articulations[k]}"]) %}
  {% elseif k in articulations|keys and v != '' %}
    {% set sArticulations = sArticulations|merge(["#{articulations[k]}: #{v}"]) %}
  {% elseif k in techniques|keys and v != '' %}
    {% set sTraitements = sTraitements|merge(["<strong>#{techniques[k]}:</strong> #{v}<br>"]) %}
  {% elseif k in SOT|keys and v == 'true' %}
    {% set sTraitements = sTraitements|merge(["<strong>SOT:</strong>#{SOT[k]}<br>"]) %}
  {% endif %}
{% endfor %}

{% if sAjustements|length > 0 or sMains|length > 0 or sPieds|length > 0 or sArticulations|length > 0 %}
  <h4>Ajustements</h4>
  {% if sAjustements|length > 0 %}
    {% for v in sAjustements %}
      {{ v }}<br>
    {% endfor %}
  {% endif %}
  {% if sMains|length > 0 %}
    <strong>Mains:</strong><br>
    {% for v in sMains %}
      {{ v }}<br>
    {% endfor %}
  {% endif %}
  {% if sPieds|length > 0 %}
    <strong>Pieds:</strong><br>
    {% for v in sPieds %}
      {{ v }}<br>
    {% endfor %}
  {% endif %}
  {% if sArticulations|length > 0 %}
    <strong>Articulations:</strong><br>
    {% for v in sArticulations %}
      {{ v }}<br>
    {% endfor %}
  {% endif %}
{% endif %}

{% if sTraitements|length > 0 %}
  <h3>Traitements</h3>
  {% for v in sTraitements %}
    {{ v }}
  {% endfor %}
{% endif %}


{% if tag.chiroNotes != '' %}
  <h4>Notes de traitement</h4>
  <p>{{ tag.chiroNotes }}</p>
{% endif %}
