{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # fr33z00 <https://github.com/fr33z00>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : compte-rendu de consultation 
 #
 # @author fr33z00 <https://github.com/fr33z00>
 #}

{% set tag = page.courrier %}

<p style="text-align : right;">New-York, le {{ tag.date|date("d/m/Y") }}</p>

<h2 style="text-align : center">{% if tag.14=='Homme' %}M.{% elseif tag.14=='Femme' %}Mme{% endif %} {{ tag.3 }}  {{ tag.2 }} ({{ tag.8 }})</h2>

<h2>Consultation du jour</h2>

{% if tag.504 != '' %}
  <h4>Diagnostic</h4>
  <p>{{ tag.504 }}</p>
{% endif %}

{% if tag.498 != '' %}
  <h4>Evolution et symptômes</h4>
  <p>{{ tag.498 }}</p>
{% endif %}

{% set nomsOs1 = ["C0","C1","C2","C3","C4","C5","C6","C7","T1","T2","T3","T4","T5","T6","T7","T8","T9","T10","T11","T12","K1 Lt","K1 Rt","K2 Lt","K2 Rt","K3 Lt","K3 Rt","K4 Lt","K4 Rt","K5 Lt","K5 Rt","K6 Lt","K6 Rt","K7 Lt","K7 Rt","K8 Lt","K8 Rt","K9 Lt","K9 Rt","K10 Lt","K10 Rt","K11 Lt","K11 Rt","K12 Lt","K12 Rt","L1","L2","L3","L4","L5","Coccyx"] %}
{% set nomsOs2 = ["Cunéïforme I Lt","Cunéïforme I Rt","Cunéïforme II Lt","Cunéïforme II Rt","Cunéïforme III Lt","Cunéïforme III Rt","Calcanéum Lt","Calcanéum Rt","Capitatum Lt","Capitatum Rt","Cuboïde Lt","Cuboïde Rt","Hamatum Lt","Hamatum Rt","Ilium Lt","Ilium Rt","Lunatum Lt","Lunatum Rt","Métacarpe I Lt","Métacarpe I Rt","Métacarpe II Lt","Métacarpe II Rt","Métacarpe III Lt","Métacarpe III Rt","Métacarpe IV Lt","Métacarpe IV Rt","Métacarpe V Lt","Métacarpe V Rt","Naviculaire Lt","Naviculaire Rt","P1 I Lt","P1 I Rt","P1 II Lt","P1 II Rt","P1 III Lt","P1 III Rt","P1 IV Lt","P1 IV Rt","P1 V Lt","P1 V Rt","P2 I Lt","P2 I Rt","P2 II Lt","P2 II Rt","P2 III Lt","P2 III Rt","P2 IV Lt","P2 IV Rt","P2 V Lt","P2 V Rt","P3 I Lt","P3 I Rt","P3 II Lt","P3 II Rt","P3 III Lt","P3 III Rt","P3 IV Lt","P3 IV Rt","P3 V Lt","P3 V Rt","p1 I Lt","p1 I Rt","p1 II Lt","p1 II Rt","p1 III Lt","p1 III Rt","p1 IV Lt","p1 IV Rt","p1 V Lt","p1 V Rt","p2 I Lt","p2 I Rt","p2 II Lt","p2 II Rt","p2 III Lt","p2 III Rt","p2 IV Lt","p2 IV Rt","p2 V Lt","p2 V Rt","Patella Lt","Patella Rt","Pisiforme Lt","Pisiforme Rt","Sacrum","Scaphoïde Lt","Scaphoïde Rt","Scapula Lt","Scapula Rt","Talus Lt","Talus Rt","Tibia Lt","Tibia Rt","Trapezium Lt","Trapezium Rt","Trapézoïde Lt","Trapézoïde Rt","Triquetrum Lt","Triquetrum Rt","Métatarse I Lt","Métatarse I Rt","Métatarse II Lt","Métatarse II Rt","Métatarse III Lt","Métatarse III Rt","Métatarse IV Lt","Métatarse IV Rt","Métatarse V Lt","Métatarse V Rt"] %}
{% set nomsArticulations = ["Métatarso-phalangienne Lt","Métatarso-phalangienne Rt","Tibio-fibulaire distale Lt","Tibio-fibulaire distale Rt","ATM Lt","ATM Rt","Sterno-claviculaire Lt","Sterno-claviculaire Rt","Acromio-claviculaire Lt","Acromio-claviculaire Rt","Gléno-humérale Lt","Gléno-humérale Rt","Tête radiale Lt","Tête radiale Rt","Ulna proximal Lt","Ulna proximal Rt","Fémoro-acétabulaire Lt","Fémoro-acétabulaire Rt","Tibio-fibulaire prox Lt","Tibio-fibulaire prox Rt","Symphyse","Styloïde radiale Lt","Styloïde radiale Rt","Ulna distal Lt","Ulna distal Rt"] %}

{% set Aj = [] %}
{# pour compatibilité v1.0.0 #}
{% for i in 0..7 %}
  {% for j in 0..1 %}
    {% if page['courrier'][507+2*i+j] == "true" %}
      {% set Aj = Aj|merge(["C#{i} #{j==0?'Lt':'Rt'}"]) %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% for i in 0..11 %}
  {% for j in 0..1 %}
    {% if page['courrier'][523+2*i+j] == "true" %}
      {% set Aj = Aj|merge(["T#{i+1} #{j==0?'Lt':'Rt'}"]) %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% for i in 0..4 %}
  {% for j in 0..1 %}
    {% if page['courrier'][547+2*i+j] == "true" %}
      {% set Aj = Aj|merge(["L#{i+1} #{j==0?'Lt':'Rt'}"]) %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% for i in 0..1 %}
  {% if page['courrier'][579+i] == "true" %}
    {% set Aj = Aj|merge(["Sacral base #{j==0?'Ant':'Post'}"]) %}
  {% endif %}
{% endfor %}
{% for i in 0..1 %}
  {% if page['courrier'][581+i] == "true" %}
    {% set Aj = Aj|merge(["Coccyx #{j==0?'Ant':'Post'}"]) %}
  {% endif %}
{% endfor %}
{% for i in 0..1 %}
  {% if page['courrier'][571+i] == "true" %}
    {% set Aj = Aj|merge(["PI #{j==0?'Lt':'Rt'}"]) %}
  {% endif %}
{% endfor %}
{% for i in 0..1 %}
  {% if page['courrier'][575+i] == "true" %}
    {% set Aj = Aj|merge(["AS #{j==0?'Lt':'Rt'}"]) %}
  {% endif %}
{% endfor %}
{% for i in 0..1 %}
  {% if page['courrier'][573+i] == "true" %}
    {% set Aj = Aj|merge(["PI/ #{j==0?'Lt':'Rt'}"]) %}
  {% endif %}
{% endfor %}
{% for i in 0..1 %}
  {% if page['courrier'][577+i] == "true" %}
    {% set Aj = Aj|merge(["AS/ #{j==0?'Lt':'Rt'}"]) %}
  {% endif %}
{% endfor %}

{#v2.0.0#}
{% for i in 0..49 %}
  {% if page['courrier'][i+719] == "true" %}
    {% set Aj = Aj|merge(["#{nomsOs1[i]}"]) %}
  {% elseif page['courrier'][i+719] != "" %}
    {% set Aj = Aj|merge(["#{nomsOs1[i]}: #{page['courrier'][i+719]}"]) %}
  {% endif %}
{% endfor %}

{% for i in 0..29 %}
  {% if page['courrier'][i+584] == "true" %}
    {% set Aj = Aj|merge(["#{nomsOs2[i]}"]) %}
  {% elseif page['courrier'][i+584] != "" %}
    {% set Aj = Aj|merge(["#{nomsOs2[i]}: #{page['courrier'][i+584]}"]) %}
  {% endif %}
{% endfor %}

{% set sMains = ["Main(s):"] %}
{% for i in 30..59 %}
  {% if page['courrier'][i+584] == "true" %}
    {% set sMains = sMains|merge(["&nbsp;&nbsp;#{nomsOs2[i]}"]) %}
  {% endif %}
{% endfor %}
{% if sMains|length > 1 %}
  {% set Aj = Aj|merge(sMains) %}
{% endif %}

{% set sPieds = ["Pied(s):"] %}
{% for i in 60..79 %}
  {% if page['courrier'][i+584] == "true" %}
    {% set sPieds = sPieds|merge(["&nbsp;&nbsp;#{nomsOs2[i]}"]) %}
  {% endif %}
{% endfor %}
{% if sMains|length > 1 %}
  {% set Aj = Aj|merge(sPieds) %}
{% endif %}

{% for i in 80..108 %}
  {% if page['courrier'][i+584] == "true" %}
    {% set Aj = Aj|merge(["#{nomsOs2[i]}"]) %}
  {% elseif page['courrier'][i+584] != "" %}
    {% set Aj = Aj|merge(["#{nomsOs2[i]}: #{page['courrier'][i+584]}"]) %}
  {% endif %}
{% endfor %}

{% for i in 0..24 %}
  {% if page['courrier'][i+693] == "true" %}
    {% set Aj = Aj|merge(["Articulation #{nomsArticulations[i]}"]) %}
  {% elseif page['courrier'][i+693] != "" %}
    {% set Aj = Aj|merge(["Articulation #{nomsArticulations[i]}: #{page['courrier'][i+693]}"]) %}
  {% endif %}
{% endfor %}

{% if Aj|length > 0 %}
<h4>Ajustements</h4>
<p>
  {% for i in Aj %}
    {{ i }}<br>
  {% endfor %}
</p>
{% endif %}

{% if tag.557 != '' %}
  <h4>Traitement musculaire</h4>
  <p>{{ tag.557 }}</p>
{% endif %}

{% if tag.558 != '' %}
  <h4>Traitement cranien</h4>
  <p>{{ tag.558 }}</p>
{% endif %}

{% if tag.559 != '' %}
  <h4>Traitement AK</h4>
  <p>{{ tag.559 }}</p>
{% endif %}

{% if tag.560 != '' %}
  <h4>Traitement TBM</h4>
  <p>{{ tag.560 }}</p>
{% endif %}

{% if tag.561 != '' %}
  <h4>Traitement NET</h4>
  <p>{{ tag.561 }}</p>
{% endif %}

{% if tag.562 != '' %}
  <h4>Traitement Whiteson / NOT</h4>
  <p>{{ tag.562 }}</p>
{% endif %}

{% if tag.563 != '' %}
  <h4>Traitement Thompson</h4>
  <p>{{ tag.563 }}</p>
{% endif %}

{% if tag.564 != '' %}
  <h4>Traitement activator</h4>
  <p>{{ tag.564 }}</p>
{% endif %}

{% if tag.565 != '' %}
  <h4>Traitement Tape / Strap</h4>
  <p>{{ tag.565 }}</p>
{% endif %}

{% if tag.566 != '' %}
  <h4>Traitement HIO</h4>
  <p>{{ tag.566 }}</p>
{% endif %}

{% if tag.583 != '' %}
  <h4>Traitement Extrémités</h4>
  <p>{{ tag.583 }}</p>
{% endif %}


{% set tagArr = [tag.568, tag.569, tag.570] %}
{% set SotArr = ["-I", "-II", "-III"] %}
{% if "true" in tagArr %}
  <h4>Traitement SOT</h4>
  <p>
    {% for i in 0..2 %}
      {% if tagArr[i] == "true" %}
        Cat{{ SotArr[i] }}<br>
      {% endif %}
    {% endfor %}
  </p>
{% endif %}

{% if tag.567 != '' %}
  <h4>Autres traitements</h4>
  <p>{{ tag.567 }}</p>
{% endif %}

{% if tag.718 != '' %}
  <h4>Notes de traitement</h4>
  <p>{{ tag.718 }}</p>
{% endif %}
